absl-py==0.9.0
asgiref==3.2.7
astor==0.8.1
click==7.1.2
Django==3.0.6
Flask==1.1.2
Flask-Cors==3.0.10
gunicorn==20.1.0
image==1.5.31
importlib-metadata==4.8.1
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==3.2.1
MarkupSafe==1.1.1
numpy
opencv-python==4.5.4.58
opt-einsum==3.2.1
Pillow==7.1.2
psutil==5.7.0
python-dotenv==0.19.1
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
termcolor==1.1.0
thrift==0.13.0
typing-extensions==3.10.0.2
waitress==1.4.3
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.6.0
