.LangButton{
    position:relative;
    height:100px;
    width:200px;
    margin: 20px;
    background-color: #ffffff;
    border: 0.08em solid;
    color: while;
    padding: 10px;
    text-align: center;
    display: grid;
    font-size: 16px;
    transform: translate(300%,50%);
}